// out: ../main.css

@import 'reset.styl';
@import 'colors.styl';

body
  background-color #FFF
  color $black
  font-family 'Rubik', Helvetica, Arial, sans-serif;
  font-size 16px
  line-height 1.5

h1
  font-size 40px
  line-height 48px
  font-weight 700
