// out: ../main.css

@import 'colors.styl';
@import 'text.styl';
@import 'util.styl';

*
  box-sizing border-box
  transition 0.25s ease-in-out

body
  background-color #FFF
  color $black
  font-family 'Rubik', Helvetica, Arial, sans-serif;
  font-size 16px
  line-height 1.5

input
  width 100%
  padding 8px 12px
  border 1px solid $lite
  font-family 'Rubik', Helvetica, Arial, sans-serif;
  font-size 16px
  margin-bottom 10px
  &.error
    border 1px solid $red
  &::placeholder
    transition 0.25s ease-in-out
  &:focus
    outline none
    border 1px solid $grey
    &::placeholder
      color $light-grey

.button
  min-width 160px
  padding 11px 40px 9px
  background-color $green
  cursor pointer
  border-radius 50px
  border none
  text-transform uppercase
  font-family 'Rubik', Helvetica, Arial, sans-serif;
  font-size 12px
  letter-spacing 2px
  color $white
  font-weight 500
  transition 0.25s ease-in-out
  &:focus
    outline none
  &:hover
    background-color $hover-green
    color $white
  &.blue
    background-color $blue
    &:hover
      background-color $hover-blue
  &.big
    padding 14px 40px
    font-size 14px

footer
  background-color $black
  color $white

@import 'form.styl';
@import 'nav.styl';
@import 'splash.styl';
