// main: _main.styl

.queue-container
  padding 40px
  & h2
    text-align center
    margin-bottom 40px

.audio-player-container
  z-index 20
  position fixed
  left 0
  right 0
  bottom 0
  height 100px
  padding 0 20px
  background-color $dark-grey
  color $white

.player-info, .player-alt-controls
  width 30%
  min-width 180px
  padding 20px 0

.player-artwork
  height 60px
  width @height
  margin-right 15px
  background-color rgba(0,0,0,0.1)
  vertical-align bottom
  & img
    width 100%

.player-info-text
  color $white
  vertical-align super
  & p, & a
    font-size 14px
    font-weight 300
    line-height 1.3
    max-width 160px
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
  & a, & a:hover, & .small-text a:hover
    color $white
  & .small-text a
    font-size 12px
    color $light-transparent

.player-controls
  padding 10px 0

.control-svg-container
  text-align center
  height 45px
  & .svg-container
    height 45px
    width @height

.player-alt-controls
  text-align right
  padding 25px 0

.alt-svg
  height 22px
  width @height
  margin 12px 0 12px 12px
  cursor default
  & .svg
    fill #a9a9a9
    stroke #a9a9a9
    width 100%
  & .check-svg
    stroke $green
  &:hover
    & .svg
      fill $white
      stroke $white
    & .check-svg
      stroke $hover-green

.progress-bar
  height 26px
  & *
    height 4px
    border-radius @height
  & .outer-bar
    width 100%
    background-color #404040
    margin 10px 0
  & .inner-bar
    background-color $grey
    transition 0.2s ease-in-out, width 0s
  &:hover .inner-bar
    background-color $green
  & .inner-bar.disabled
    background-color #404040

.volume-bar-container
  width 100px
  margin 10px

.seek-bar-outer-container p
  color $grey
  font-weight 300
  margin 2px 0

.seek-bar-container
  margin 0 10px 0 5px

.seek-bar-outer-container p
  font-size 12px
  width 30px

.slider-range
  position absolute
  top 47%
  left -3px
  width calc(100% + 6px)
  padding 0
  margin 0
  transform translateY(-50%)
  background-color transparent
  -webkit-appearance none
  border none
  &:focus
    border none
    outline none
  &::-webkit-slider-thumb
    -webkit-appearance none
    background-color $white
    height 10px
    width 10px
    border-radius 100%
    transform scale(0)
    transition 0.2s ease-out
  &:hover::-webkit-slider-thumb, &:active::-webkit-slider-thumb
    transform scale(1)
