// main: _main.styl

$green = #1DB954; // Basic Spotify Green
$hover-green = #1ED760;
$blue = #3B5998;
$hover-blue = #3A61B3;
$red = #EB1E32; // Errors

$white = #FFF;
$lite = #D9DADC;
$light-transparent = #FFFFFF99;
$light-grey = #C1C3C6;
$grey = #919496;
$placeholder-grey = #535353;
$dark-grey = #282828;
$black = #181818;
$dark-black = #0B0B0B;
