// main: _main.styl

$green = #1DB954; // Basic Spotify Green
$hover-green = #1ED760;

$red = #EB1E32; // Errors

$white = #FFF;
$lite = #D9DADC; // #DFE0E6 seen on line-thru
$light-transparent = #FFFFFF99;
$light-grey = #C1C3C6;
$grey = #919496;
$black = #191414;
