// main: _main.styl

$green = #1DB954;
$hover-green = #1ED760;

$lite = #D9DADC; // #DFE0E6 seen on line-thru
$light-transparent = #FFFFFF99;
$light-grey = #C1C3C6;
$grey = #919496;
$black = #222326;
