// main: _main.styl

.main-content-container
  min-height 100vh
  padding 20px 20px 120px 240px
  background-color rgba(0,0,0,0.2)
  color $white
  background-image linear-gradient(#3c3e5d, #060609 85%)

.content-nav
  margin 0 20px 20px
  text-align center
  font-size 12px
  text-transform uppercase
  letter-spacing 2px
  & li
    margin 0 20px
    & a
      padding 6px 0
      margin 10px 0
      border-bottom 2px solid transparent
      &.active
        color $white
        border-bottom 2px solid $green

.content-item
  margin 10px
  width 200px
  text-align center
  & .content-img
    width 100%
    background-color rgba(0,0,0,0.5)
    margin-bottom 10px
  & .content-primary-text, & .content-secondary-text
    font-size 14px
    font-weight 300
  & .content-secondary-text
    color $light-transparent
  &.artist .content-img
    border-radius 100%
