// main: _main.styl

.form-container
  background-color $white
  text-align center

.form-header
  padding 25px 0
  margin-bottom 30px
  border-bottom 1px solid $lite

form
  margin 0 auto 40px
  max-width 450px

.form-buttons-container
  padding 10px 0
