// main: _main.styl

.search-container .modal-input-container p
  font-size 14px

.search-results
  padding 0 20px

.search-info
  padding 20px
  text-align center
  & h2
    font-size 28px
    line-height 36px
    margin-bottom 10px
    font-weight 500
  & p
    color $light-transparent
    font-size 14px
    font-weight 300

.search-section
  margin-bottom 40px
  & h2
    text-align center
    margin-bottom 20px

.top-results
  display flex
  flex-direction column
  & > div
    order 1
