// main: _main.styl

.show-item-info
  position fixed
  top 40px
  left 250px
  width 280px
  text-align center
  & h2
    margin 10px 0
    font-size 36px
    line-height 48px
    letter-spacing 0px

.show-img-container
  width 100%
  padding-top 100%
  background-color rgba(0,0,0,0.3)
  box-shadow 0 0 10px rgba(0,0,0,0.3)
  &.playlist
    padding-top 0

.show-item-tracks
  padding 20px
  padding-left 300px

.show-button-container
  margin 20px 0
  & * + *
    margin-top 10px
