// main: _main.styl

.side-bar
  position fixed
  height 100vh
  width 220px
  padding 25px 25px 125px
  background-color rgba(0,0,0,0.5)
  color $white
  & .logo
    margin-bottom 25px

.side-bar-nav
  margin-bottom 25px
  & li + li
    margin-top 25px

.user-info
  position absolute
  left 20px
  right 20px
  bottom 100px
  text-align center

.user-container
  margin 10px 0
  padding 10px 0
  border-top 1px solid rgba(255,255,255,0.3)
  & p
    line-height 30px

.user-img
  height 30px
  width @height
  background-color $dark-grey
  border-radius 100%
  margin-right 10px
  vertical-align bottom
  overflow hidden
  & img
    width 100%
    
