// main: _main.styl

.side-bar
  position fixed
  height 100vh
  width 220px
  padding 20px 20px 120px
  background-color rgba(0,0,0,0.5)
  color $white
  & .logo
    margin-bottom 20px

.side-bar-nav
  margin-bottom 20px
  & li + li
    margin-top 20px
