// main: _main.styl

.side-bar
  position fixed
  height 100vh
  width 220px
  padding 25px 25px 125px
  background-color rgba(0,0,0,0.5)
  color $white
  & .logo
    margin-bottom 25px

.side-bar-nav
  margin-bottom 25px
  & li + li
    margin-top 25px
