// main: _main.styl

.hero-container
  height 100vh
  background-color #f037a5
  background linear-gradient(#f037a5 -60%,#fae62d 140%)
  color $white
  overflow hidden
  & h4
    margin-bottom 30px

.hero-background-svg
  height 1610px
  width 1523px

.splash-pop-text
  font-size 80px
  line-height 88px
  margin-bottom 20px

.splash-footer
  padding 80px 0 50px
  min-height 400px
