// main: _main.styl

.svg-container
  &.item
    height 100%
    width 100%
    &:hover
      transform scale(1.1)
  &.nav
    height 24px
    width @height
    margin-right 10px
    vertical-align bottom

.svg
  width 100%
  stroke $light-transparent
  fill rgba(0,0,0,0)
  stroke-width 6
  transition 0s
  &.item path
    fill $white
