// main: _main.styl
h1
  font-size 40px
  line-height 48px
  font-weight 700

.logo
  font-size 40px
  line-height 48px
  font-weight 700
  letter-spacing -2px
  & a
    color $black
    &:hover
      color $black

p
  font-size 16px
  line-height 1.5
