// main: _main.styl

h1
  font-size 40px
  line-height 48px
  font-weight 700
  letter-spacing -2px

h2
  font-size 32px
  line-height 40px
  font-weight 700
  letter-spacing -1px

h3
  font-size 24px
  line-height 28px
  text-transform uppercase

h4
  font-size 18px
  line-height 24px

h5
  font-size 12px
  text-transform uppercase
  letter-spacing 2px

p
  font-size 16px
  line-height 1.5

a
  text-decoration none
  color $green
  transition 0s
  &.white
    color $white
  &:hover
    color $hover-green
  &.app-link
    transition 0s, color 0.2s ease-in-out
    color $light-transparent
    &:hover
      color $white
      & .svg
        stroke $white
    &.active
      color $green
      & .svg
        stroke-width 10
        stroke $green
        &.home
          fill $green
    &.border
      border-bottom 1px solid transparent
      &:hover
        border-bottom 1px solid $white
  &.thick
    font-weight 500
  &.thicker
    font-weight 700
  &.upper
    text-transform uppercase

.logo
  font-size 40px
  line-height 48px
  font-weight 700
  letter-spacing -2px
  &.small
    font-size 26px
    line-height 32px
    font-weight 500
  & a
    color $black
    &:hover
      color $black
  &.white a
    color $white
    &:hover
      color $white
