// main: _main.styl

.rela-block
  display block
  position relative

.rela-inline
  display inline-block
  position relative

.abs-center
  position absolute
  top 50%
  left 50%
  transform translate(-50%,-50%)
  width 92%
  text-align center

.flex-parent
  display flex
  flex-wrap wrap
  position relative

.flex
  position relative
  flex 1 1 0

.centered
  text-align center

.gutter-container
  width 100%
  padding 0 40px
  max-width 1000px
  margin 0 auto

.spacing-s
  margin 0 2px
.spacing-m
  margin 0 10px
.spacing-l
  margin 0 20px
